[Unit]
Description=T.R.I.V.E.N.I Onboard FPV Interceptor Daemon
After=network.target multi-user.target
Wants=network-online.target

[Service]
Type=simple
User=radxa
WorkingDirectory=/home/radxa/interceptorAIModule
Environment="PATH=/home/radxa/interceptorAIModule/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/home/radxa/interceptorAIModule/.venv/bin/python main.py --config config.json
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
